<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2 class="headline">User List</h1>
            <section class="content">
              <div>
                <% userList.forEach(function(user) { %>
                <section id="user_info">
                  <p>ID: <%= user.user_id %></p>
                  <p>Name: <%= user.name %></p>
                  <p>E-Mail: <%= user.email %></p>
                  <p>Alias: <%= user.username %></p>
                  <p>Wohnort: <%= user.wohnort %></p>
                  <p>Geschlecht: <%= user.gender %></p>
                  <p>Alter: <%= user.alter %></p>
                </section>
                <% });  %>
              </div>
            </section>
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
