<!-- views/pages/anime.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Anime</h1>
            <p>Liste aller Animes:</p>
            
            <% animeList.forEach(function(anime) { %>
                            
            <p>Name: <%= anime.name %></p>
            <p>Name_Jap: <%= anime.name_jap %></p>
            <p>Episodes: <%= anime.episodes %></p>
            <p>Release: <%= anime.release %></p>
            <p>Release_Jap: <%= anime.release_jap %></p>
            <p>License: <%= anime.license %></p>
            <p>status: <%= anime.status %></p>
            <% });  %>
        </div>
        
    
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>