<!-- views/pages/anime.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Anime</h1>
            <p>Liste aller Animes:</p>
            
            <% anime.forEach(function(anime) { %>
                            
            <p class="list-group-item-text">Name: <%= anime.name %></p>
            <p class="list-group-item-text">Name_Jap: <%= anime.name_jap %></p>
            <p class="list-group-item-text">Episodes: <%= anime.episodes %></p>
            <p class="list-group-item-text">Release: <%= anime.release %></p>
            <p class="list-group-item-text">Release_Jap: <%= anime.release_jap %></p>
            <p class="list-group-item-text">License: <%= anime.license %></p>
            <p class="list-group-item-text">status: <%= anime.status %></p>
            <% });  %>
        </div>
        
    
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>