<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>User</h1>
            <p>Liste aller User:</p>
            
            <% userList.forEach(function(user) { %>
            
            <p>ID: <%= user.uID %></p>                
            <p>Name: <%= user.name %></p>
            <p>E-Mail: <%= user.email %></p>
            <p>Alias: <%= user.alias %></p>
            <p>Wohnort: <%= user.wohnort %></p>
            <p>Geschlecht: <%= user.gender %></p>
            <p>Alter: <%= user.alter %></p>
            <% });  %>
        </div>
    
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>