<!-- views/pages/anime.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2 id="anime_name_head" class="headline"><%= animeData.name %></h2>

            <section class="content">
              <div>
                <ul>
                  <li id="episode_number" value="<%= animeData.episodes %>"><span>Episodes:</span> <%= animeData.episodes %></li>
                  <li>Release: <%= animeData.release %></li>
                  <li>Release_Jap: <%= animeData.release_jap %></li>
                  <li>License: <%= animeData.license %></li>
                  <li value="<%= animeData.status %>">Status: <span id="anime_status"><%= animeData.status %></span></li>
                </ul>
              </div>
              <section id="episode-section">
                <ul id="episode_list" onload="loadEpisodes()">
                </ul>
              </section>
              <div>.</div>
            </section class="episode_listing">


        </div>
        <script src="../js/animeid.js"></script>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body onload="loadEpisodes()">
</html>
