<!-- views/pages/anime.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2 id="anime_name_head" class="headline"><%= animeData.name %></h2>
            <a id="edit_anime" href="/edit/<%= animeData.name.toLowerCase().replace(/ /g, '-') %>"></a>
            <section class="content">
              <section class="infos">
                <ul>
                  <div class="linfo">
                    <li><span class="descr">ALTERNATIVE NAMES:</span><span class="descr_val"><%= animeData.name_en %>, <%=animeData.name_de %></span></li>
                    <li id="episode_number" value="<%= animeData.episodes %>"><span class="descr">EPISODES:</span><span class="descr_val"><%= animeData.episodes %></span></li>
                    <li><span class="descr">GENRE:</span><span class="descr_val"><%= animeData.genre %></span></li>
                    <li value="<%= animeData.status %>"><span class="descr">STATUS:</span><span id="anime_status" class="descr_val"><%= animeData.status %></span></li>
                    <li><span class="descr">DUB:</span><span class="descr_val"><%= animeData.dub %></span></li>
                    <li><span class="descr">SUB:</span><span class="descr_val"><%= animeData.sub %></span></li>
                    <li><span class="descr">RELEASE [JP]:</span><span class="descr_val"><%= animeData.release_jp %></span></li>
                    <li><span class="descr">RELEASE [EN]:</span><span class="descr_val"><%= animeData.release_en %></span></li>
                    <li><span class="descr">RELEASE [DE]:</span><span class="descr_val"><%= animeData.release_de %></span></li>
                    <li><span class="descr">LICENSE:</span><span class="descr_val"><%= animeData.license %></span></li>
                  </div>
                  <div class="rinfo">
                    <li><%= animeData.descritpion %></li>
                  </div>
                </ul>
              </section>
              <section id="episode-section">
                <ul id="episode_list" onload="loadEpisodes()">
                </ul>
              </section>
              <div>.</div>
            </section class="episode_listing">


        </div>
        
        <div class="well">
        <h2>Nutzer haben heute auch gesehen:</h2>
        <% suggestions.data.forEach(function(data) { %>
            <a href='/anime/<%= data.name.toLowerCase().replace(/ /g,'-') %>'>

            <p><%= data.name %></p>
            <% });  %>
        </div>
            
        <script src="../js/animeid.js"></script>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body onload="loadEpisodes()">
</html>
