<!-- views/pages/stats.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <section>
            <p id="user_stats"><span id="stats_username"><%= statData.stats[0].username %></span>
              <span id="aditional_user_info">EPISODES WATCHED:<span id="info_number"><%= statData.stats[0].seen_ep %></span>
              | ANIME WATCHED:<span id="info_number"><%= statData.stats[0].seen_anime %></span><p>
          </section>
          <section class="content">
            <div>
              <section id="user_stats">
                <ul id="list">
                  <% for(var i=1; i<statData.stats.length; i++){ %>
                    <div id="info">
                      <a id="" href="/anime/<%= statData.stats[i].name.toLowerCase().replace(/ /g,'-') %>">
                        <li id="info1"><%= statData.stats[i].name %></li>
                        <li id="info2"><span>Episodes: </span><%= statData.stats[i].episodes %><span>/<%= statData.stats[i].max_ep %></span></li>
                      </a>
                    </div>
                  <% } %>
                </ul>
              </section>
            </div>
          </section>
        </div>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
