<!-- views/pages/stats.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <section>
            <p id="user_stats"><span id="stats_username"><%= statData.stats[0].username %></span>
              <span id="aditional_user_info">EPISODES WATCHED:<span id="info_number"><%= statData.stats[0].seen_ep %></span>
              | ANIME WATCHED:<span id="info_number"><%= statData.stats[0].seen_anime %></span><p>
          </section>
          <section class="content">
            <div>
              <section id="user_stats">
                <ul>
                  <% for(var i=1; i<statData.stats.length; i++){ %>
                    <li><%= statData.stats[i].name %></li>
                    <li><%= statData.stats[i].episodes %></li>
                  <% } %>
                </ul>
              </section>
            </div>
          </section>
        </div>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
